#codeContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $md) {
        font-size: 12px;
    }
    @media screen and (max-width: $sm) {
        font-size: 10px;
    }
}

.CodeMirror {
    width: calc(100vw - 2em);
    max-width: 850px;
    height: auto !important;
    border-radius: 15px;
    padding: 1em;
    box-sizing: border-box;
    line-height: 1.5em;
    @media screen and (max-width: $xs) {
        line-height: 1.7em;
    }
    overflow: hidden !important;
}

.CodeMirror-scroll {
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
}

.CodeMirror-vscrollbar {
    display: none !important;
    overflow: hidden !important;
}

.CodeMirror-hscrollbar {
    display: none !important;
    overflow: hidden !important;
}

.CodeMirror-sizer {
    border: none !important;
}